@import url('https://fonts.googleapis.com/css?family=Athiti&display=swap');

#body{
    font-family: 'Athiti', sans-serif;
    background-color: #778899;
}
.display-name {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.display-4 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
}
h5 {
    color: #000080;
}
.jumbotron {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}
.single .main ul, .single .main ol {
    list-style-position: outside;
    margin-left: 30px;
}
i{
    font-size: 32px;
}
i:hover{
    color: red;
}
element.style {
    display: block;
    padding-right: 16px;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}
.fade {
    transition: opacity .15s linear;
}
.cv-size{
    width: 100%;
}
#styleDIV {
    font-family: 'Athiti', sans-serif;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 15px;
    background-color: #C0C0C0;
    padding: 10px;
    color: #222222;
    text-align: left;
}
pre {
    display: block;
    font-family: 'Athiti', sans-serif;
    white-space: pre;
    margin: 1em 0px;
}
kbd {
    background: linear-gradient(to right,#fce4ed,#ffe8cc);
}