@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap');

#body{
    font-family: 'Kosugi Maru', sans-serif;
    background-color: #778899;
}
.display-name {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.display-4 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
}
.jumbotron {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}
.EnlighterJS, .EnlighterJSWrapper {
    font-family: "Source Code Pro","Liberation Mono","Courier New",Courier,monospace;
    font-size: 10px;
    line-height: 16px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}
.single .main ul, .single .main ol {
    list-style-position: outside;
    margin-left: 30px;
}
.enlighterEnlighterJSWrapper pre, ol.enlighterEnlighterJS, ul.enlighterEnlighterJS {
    font-size: 11px;
    color: #939393;
    border-radius: 8px;
    border: solid 1px #e0e0e0;
    background-color: #f9f9f9;
}
ol.EnlighterJS, ul.EnlighterJS {
    display: block;
    font-size: 10px;
    background-color: #f2f2f2;
    color: #939393;
    margin: 0 0 20px 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
}
.EnlighterJS, .EnlighterJSWrapper {
    font-family: "Source Code Pro","Liberation Mono","Courier New",Courier,monospace;
    font-size: 10px;
    line-height: 3.5px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 15;
    padding: 0;
}
i{
    font-size: 32px;
}
i:hover{
    color: red;
}
element.style {
    display: block;
    padding-right: 16px;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}
.fade {
    transition: opacity .15s linear;
}
